<%= render 'nav' %>

<%= render 'new' %>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h3>ツゥイントしてもよろしいですか？</h3>

    <%= bootstrap_form_for(@twint) do |f| %>
      <%= f.hidden_field :content %>

      <p><%= @twint.content %></p>
      <%= f.submit "ツゥイント", class: "btn btn-info" %>
    <% end %>
　</div>
</div>