<%= render 'nav' %>

<%= render 'new' %>

<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>">
                <a class="close" data-dismiss="alert">×</a>
                <%= msg %>
            </div>
        <% end %>
        <div class="edit_twint">
            <%= bootstrap_form_for(@twint) do |f| %>
              <%= f.text_area :content, class: "form-control", maxlength: "140"  %>
              <%= f.submit "編集",class: "btn btn-info" %>
            <% end %>
        </div>
    </div>
</div>